<div>
    <h2>Data Binding</h2>
    <h3>One Way - using string interpolation</h3>
    Name is {{fName}}
    <br>
    Desg <input type="text" [value]="desg">
    <br>
    <p [innerText]="desg"></p>
    <input type="button" value="ClickHere" [disabled]="flag"> |
    <input type="button" value="ClickHere" disabled="{{flag}}">
    <h3>One Way- using event binding</h3>
    <input type="button" value="Click Here" (click)="fun()">
    <br>
    Age is {{age}}
    <br>
    <h2>Two way binding - using ngModel</h2>
    <input type="text" [(ngModel)]="salary">
    Salary is {{salary}}
    <input type="text" [value]="desg">
    Desg is {{desg}}
    <br>
    <h2>Template Reference</h2>
    <input type="text" #nameRef (keyup)="0">
    Name is {{nameRef.value}}
    <h2>Calculator</h2>
    Enter 1st Number: <input type="number" #num1>
    <br><br>
    Enter 2nd Number: <input type="number" #num2>
    <br><br>
    <input type="button" (click)="calculate(num1.value,num2.value,'+')" value="Add"> |
    <input type="button" (click)="calculate(num1.value,num2.value,'-')" value="Subtract">
    <br><br>
    Result is: {{result}}
</div>