<div>
    <h2>Structural Directive</h2>
    <input type="button" [value]="flag===false?'Show':'Hide'" (click)="flag=!flag">
    <br>
    <div *ngIf="flag">
        <h2>Welcome to Structural Directive</h2>
        <h2>Student Names</h2>
        <ul>
            <li *ngFor="let std of stdInfo">{{std}}</li>
        </ul>
        <h2>Employee Details</h2>
        <table border="2">
            <tr>
                <th>EmpId</th>
                <th>EmpName</th>
                <th>EmpSalary</th>
                <th>EmpAge</th>
            </tr>
            <tr *ngFor="let emp of employees">
                <td>{{emp.empId}}</td>
                <td>{{emp.empName}}</td>
                <td>{{emp.empSalary}}</td>
                <td>{{emp.empAge}}</td>
            </tr>
        </table>
    </div>
    <h2>Attribute Directive</h2>
    <h3>ngStyle Logic</h3>
    <p style="color: red">Inline CSS</p>
    <p [ngStyle]="{'color':'red'}">Welcome to ngStyle Attribute</p>
    <p [ngStyle]="styleRules">Welcome to ngStyle Attribute</p>
    <p [ngClass]="'abc'">Welcome to ngClass Attribute</p>
    <p [ngClass]="{'abc':!flag,'xyz':flag}">Welcome to ngClass Attribute</p>
</div>